/* Formulaire
	GitHub : JESSIM-lua
	Date : 13/12/2023
	Description : Responsive du site  */
    
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
}
